<h1><%= @user.username %></h1>
<% @histories.each do |deck_name, histories| %>
  <h3><%= deck_name %></h3>
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Number of Question</th>
      <th>First Guesses Correct</th>
      <th>Total Guesses</th>
      <th></th>
      <th></th>
    </tr>
    <% histories.each do |history| %>
      <%if !history.finished%>
        <tr>
      <%else%>
        <tr class="success">
      <%end%>
        <td><%= history.updated_at.to_date %></td>
        <td><%= history.deck.cards.length %></td>
        <td><%= history.compile_result[:first_correct] %></td>
        <td><%= history.guesses.length %></td>
        <td>
          <%if history.finished%>
            <a href="/histories/<%=history.id%>/guesses" class="btn btn-sm btn-default">View</a>
          <%else%>
            <a href="/histories/<%=history.id%>/guesses/new" class="btn btn-sm btn-default">Continue</a>
          <%end%>
        </td>
        <td>
          <form method="post" action="/histories/<%=history.id%>/delete">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-sm btn-default">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
