<h1><%=@history.deck.name%></h1>
<p>You've completed a round of <%=@history.deck.name%>. You answered <%=@result[:first_correct]%>/<%=@history.deck.cards.length%> cards correctly on the first try. You submitted <%=@result[:total_attempts]%> total guesses before each card was answered correctly.</p>

